@* Definindo a classe de modelo desta página *@
@model ContasApp.Presentation.Models.ContasCadastroViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5>Cadastro de contas</h5>
<p>Faça o cadastro das suas contas para gerenciar suas finanças.</p>
<hr/>

@using(Html.BeginForm())
{
    <div class="row mb-2">
        <div class="col">
            <label>Nome da conta:</label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
        </div>
        <div class="col">
            <label>Data da conta:</label>
            @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @type = "date" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Data)
            </span>
        </div>
        <div class="col">
            <label>Valor da conta:</label>
            @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Valor)
            </span>
        </div>
        <div class="col">
            <label>Tipo da conta:</label>
            <div>
                @Html.RadioButtonFor(model => model.Tipo, 1) Conta a Receber
            </div>
            <div>
                @Html.RadioButtonFor(model => model.Tipo, 2) Conta a Pagar
            </div>
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Tipo)
            </span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <label>Selecione a categoria da conta:</label>
            @Html.DropDownListFor(model => model.CategoriaId, ViewBag.Categorias as List<SelectListItem>, 
                "Escolha uma opção", new { @class = "form-select" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.CategoriaId)
            </span>
        </div>
        <div class="col">
            <label>Observações conta:</label>
            @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Observacoes)
            </span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Realizar Cadastro" />
        </div>
    </div>

}